<div class='clinical-trials-search-results-wrapper'>
  {% for result in results %}
  <div class='clinical-trials-result'>
    <h3>{{ result.title | raw }}</h3>
    <p>{{ result.summary | raw }}</p>
    <p>{{ result.excerpt | raw }}</p>
    {% endfor %}
  </div>
</div>
