<h2>{{ content.name.value }}</h2>

{% if content.has_content %}

  {% if (content.edit_link is not empty) or (content.delete_link is not empty) %}
    <div id="ct-page-admin-tasks" class="ct-sub-block-wrappers">
      {% include 'clinical-trials-admin-tasks.html.twig' %}
    </div>
  {% endif %}

  <div id="ct-page-main" class="ct-sub-block-wrappers">
    {% include 'clinical-trials-page-main.html.twig' %}
  </div>

  <div id="ct-page-gov-info" class="ct-sub-block-wrappers">
    {% include 'clinical-trials-gov-info.html.twig' %}
  </div>

  <div id="ct-page-references" class="ct-sub-block-wrappers">
    {% include 'clinical-trials-references.html.twig' %}
  </div>

{% endif %}


