<div class="ct-field">
  <label for="ct-field-gov-id">ClinicalTrials.gov ID</label>
  <div id="ct-field-gov-id">
    <a href="http://www.clinicaltrials.gov/ct/show/{{ content.gov_id.value }}">
      {{ content.gov_id.value }}
    </a>
    (follow link to view full record on ct.gov in new window)
  </div>
</div>

<div class="ct-field">
  <label for="ct-field-official-title">Official Title</label>
  <div id="ct-field-official-title">{{ content.official_title.value }}</div>
</div>

<div class="ct-field">
  <label for="ct-field-start-date">Study Start Date</label>
  <div id="ct-field-start-date">{{ content.start_date.value }}</div>
</div>

<div class="ct-field">
  <label for="ct-field-end-date">Study End Date</label>
  <div id="ct-field-end-date">{{ content.end_date.value }}</div>
</div>

<div class="ct-field">
  <label for="ct-disease-stage">Disease Stage</label>
  <div id="ct-disease-stage">
    {% if content.disease_stage is not empty %}
      <ul>
        {% for item in content.disease_stage%}
          <li>
            {{ item }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div id="ct-disease-stage">n/a</div>
    {% endif %}
  </div>
</div>

<div class="ct-field">
  <label for="ct-field-enrollment">Enrollment</label>
  <div id="ct-field-enrollment">{{ content.enrollment.value }}</div>
</div>