{#
/**
 * @file clinical_trials_entity.html.twig
 * Default theme implementation to present Clinical Trials data.
 *
 * This template is used when viewing Clinical Trials pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_clinical_trials_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('clinical_trials_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
