{#
/**
 * @file ct_facility_investigator_entity.html.twig
 * Default theme implementation to present CT Facility Investigator data.
 *
 * This template is used when viewing CT Facility Investigator pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ct_facility_investigator_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ct_facility_investigator_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
