{#
/**
 * @file ct_intervention_entity.html.twig
 * Default theme implementation to present CT Intervention data.
 *
 * This template is used when viewing CT Intervention pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ct_intervention_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ct_intervention_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
