{#
/**
 * @file ct_location_entity.html.twig
 * Default theme implementation to present CT Location data.
 *
 * This template is used when viewing CT Location pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ct_location_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ct_location_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
