{#
/**
 * @file ct_study_contact_entity.html.twig
 * Default theme implementation to present CT Study Contact data.
 *
 * This template is used when viewing CT Study Contact pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ct_study_contact_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ct_study_contact_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
