/**
 * Place your custom styles here.
 */

.ct-field {
  padding-top: 10px;
  padding-bottom: 10px;
}

#ct-field-group-patient-qualifications .ct-field {
  float: left;
  width: 150px;
}

#ct-field-group-locations,
#ct-field-group-patient-qualifications {
  display: inline-block;
}

#ct-field-group-locations .ct-field {
  float: left;
}

.ct-field-location-city,
.ct-field-location-state,
.ct-field-location-zip,
.ct-field-location-status {
  width: 120px;
}

.ct-field-location-name {
  width: 200px;
}

.ct-field-location-primary-contact {
  width: 200px;
}

#ct-page-main {
  background-color: #EFFFFD;
  padding: 10px;
}

#ct-page-gov-info {
  background-color: #EFF7FF;
  padding: 10px;
}

#ct-page-references {
  background-color: #FEF3FF;
  padding: 10px;
}

#ct-field-trial-ref a {
  display: inline-block;
  margin-bottom: 1em;
}

.ct-task-link {
  margin-right: 50px;
}
