<div class="ct-field">
  <label for="ct-overall-status">Overall Status</label>
  <div id="ct-overall-status">
    {% if content.overall_status is not empty %}
    <ul>
      {% for item in content.overall_status%}
        <li>
          {{ item }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div id="ct-overall-status">n/a</div>
    {% endif %}
  </div>
</div>

<div class="ct-field">
  <label for="ct-field-brief-description">Brief Description</label>
  <div id="ct-field-brief-description">{{ content.description_adear_brief.value|raw }}</div>
</div>

<div class="ct-field-group" id="ct-field-group-patient-qualifications">
  <label for="ct-field-patient-qualifications">Patient Qualifications</label>
  <div id="ct-field-patient-qualifications">
    <div class="ct-field">
      <label for="ct-field-pq-min-age">Min Age</label>
      <div id="ct-field-pq-min-age">{{ content.pq_min_age.value|raw }}</div>
    </div>
    <div class="ct-field">
      <label for="ct-field-pq-max-age">Max Age</label>
      <div id="ct-field-pq-max-age">{{ content.pq_max_age.value|raw }}</div>
    </div>
    <div class="ct-field">
      <label for="ct-field-pq-gender">Gender</label>
      <div id="ct-field-pq-gender">{{ content.pq_gender.value|raw }}</div>
    </div>
    <div class="ct-field">
      <label for="ct-field-pq-healthy-volunteers">Healthy Volunteers</label>
      <div id="ct-field-pq-healthy-volunteers">{{ content.pq_healthy_volunteers.value|raw }}</div>
    </div>
  </div>
</div>

<div class="ct-field">
  <label for="ct-field-inclusion-criteria">Inclusion Criteria</label>
  <div id="ct-field-inclusion-criteria">{{ content.inclusion_criteria.value|raw }}</div>
</div>

<div class="ct-field">
  <label for="ct-field-exclusion-criteria">Exclusion Criteria</label>
  <div id="ct-field-exclusion-criteria">{{ content.exclusion_criteria.value|raw }}</div>
</div>

<div class="ct-field">
  <label for="ct-field-description-adear-detailed">Detailed Description</label>
  <div id="ct-field-description-adear-detailed">{{ content.description_adear_detailed.value|raw }}</div>
</div>

<div class="ct-field">
  <label for="ct-field-description-adear-detailed">Central Contact Information</label>
  {% if content.central_contact_info.value is not empty %}
    <div id="ct-field-description-adear-detailed">{{ content.central_contact_info.value|raw }}</div>
  {% else %}
    <div id="ct-field-description-adear-detailed">n/a</div>
  {% endif %}
</div>

<label for="ct-locations">Locations</label>
<table id="ct-locations" class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Status</th>
    <th>Primary Contact</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Status</th>
    <th>Primary Contact</th>
  </tr>
  </tfoot>
  <tbody>
  {% for item in content.location %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.city }}</td>
      <td>{{ item.state }}</td>
      <td>{{ item.zip }}</td>
      <td>{{ item.location_status }}</td>
      <td>
        {{ item.primary_contact_name }}<br/>
        {{ item.primary_contact_phone }}<br/>
        {{ item.primary_contact_email }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="ct-field">
  <label for="ct-field-description-lead-sponsor">Lead Sponsor Agency</label>
  <div id="ct-field-description-lead-sponsor">{{ content.lead_sponsor_agency_name.value }}</div>
</div>

<div class="ct-field">
  <label for="ct-collaborator-sponsors">Collaborator Sponsor</label>
  <div id="ct-collaborator-sponsors">
    {% if content.collaborator_sponsors is not empty %}
      <ul>
        {% for item in content.collaborator_sponsors%}
          <li>
            {{ item.name }} - {{ item.class}}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div id="ct-collaborator-sponsors">n/a</div>
    {% endif %}
  </div>
</div>

<div class="ct-field">
  <label for="ct-facility-investigators">Facility Investigators</label>
  <div id="ct-facility-investigators">
    {% if content.facility_investigators is not empty %}
      <ul>
        {% for item in content.facility_investigators%}
          <li>
            {{ item.name }} - {{ item.role}} - {{ item.affiliation}}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div id="ct-facility-investigators">n/a</div>
    {% endif %}
  </div>
</div>