{#
/**
 * @file
 * Customized theme implementation for displaying a single search result coming from Clicinal Trials search page.
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}
<h3{{ title_attributes }}>
  <a href="{{ url }}">{{ title }}</a>
</h3>
{{ title_suffix }}
{% if snippet %}
  <p{{ content_attributes }}>{{ snippet }}</p>
{% endif %}
{% if info %}
  <p>{{ info }}</p>
{% endif %}
